---
import Layout from '../layouts/Layout.astro';
import paintbrush from '../assets/paintbrush.svg';
import cup from '../assets/cup.svg';
import cart from '../assets/cart.svg';
import check from '../assets/check.svg';
import cross from '../assets/cross.svg';
import skincenterlogo from '../assets/skincenter-logo.svg';
import actionmakerlogo from '../assets/actionmaker-logo.svg';
import chevrondown from '../assets/chevron-down.svg';
import Hero from '../components/Hero.astro';
import Heading from '../components/ui/Heading.astro';
---

<Layout>
	<Hero />
	<section class="section services background-dark">
		<div class="container flow">
			<Heading>
				<h2 class="section-title text-high-contrast">Onze diensten</h2>
				<p class="subtitle text-low-contrast">Kies de perfecte oplossing voor uw bedrijf</p>
			</Heading>
			<div class="equal-columns service-cards">
				<article class="card">
					<section class="service-card__header">
						<img src={paintbrush.src} alt="Service 1" />
						<h3 class="card__title">One Pager Website</h3>
					</section>
					<p>Perfect voor kleine bedrijven en startups die snel online willen gaan.</p>
				</article>
				<article class="card">
					<section class="service-card__header">
						<img src={cup.src} alt="Service 2" />
						<h3 class="card__title">Premium Website</h3>
					</section>
					<p>Een volledig op maat gemaakte website met CMS-integratie.</p>
				</article>
				<article class="card">
					<section class="service-card__header">
						<img src={cart.src} alt="Service 3" />
						<h3 class="card__title">Ecommerce Website</h3>
					</section>
					<p>Complete webshop oplossingen die meegroeien met uw bedrijf.</p>
				</article>
			</div>
		</div>
	</section>
	<section class="section comparison-section background-light-gray">
		<div class="container flow" data-width="narrow">
			<Heading>
				<h2 class="section-title">Maatwerk vs Template</h2>
				<p class="subtitle">Wij bouwen maatwerk websites met unieke designs en aangepaste functionaliteit, waarmee uw bedrijf zich onderscheidt van template websites.</p>
			</Heading>
			<div class="equal-columns cards" data-gap="large" data-alignment="centered">
				<article class="card">
					<h2 class="card__title">Maatwerk website</h2>
					<img src="src/assets/custom-website.jpg" alt="custom website" />
					<div class="item">
						<img src={check.src} alt="item 1" />
						<p>Unieke merkidentiteit die perfect bij uw bedrijf past</p>
					</div>
					<div class="item">
						<img src={check.src} alt="item 1" />
						<p>Aangepaste functionaliteit.</p>
					</div>
					<div class="item">
						<img src={check.src} alt="item 1" />
						<p>Optimale laadsnelheid en prestaties</p>
					</div>
					<div class="item">
						<img src={check.src} alt="item 1" />
						<p>Uitgebreide beveiligingsmaatregelen</p>
					</div>
					<div class="item">
						<img src={check.src} alt="item 1" />
						<p>Makkelijk schaalbaar met uw bedrijf mee</p>
					</div>
					<div class="item">
						<img src={check.src} alt="item 1" />
						<p>Superieure SEO-mogelijkheden</p>
					</div>
				</article>
				<article class="card">
					<h2 class="card__title">Template website</h2>
					<img src="src/assets/template-website.jpg" alt="template website" />
					<div class="item">
						<img src={cross.src} alt="item 1" />
						<p>Generiek ontwerp met beperkte aanpassingen</p>
					</div>
					<div class="item">
						<img src={cross.src} alt="item 1" />
						<p>Vooraf bepaalde functionaliteit met beperkingen</p>
					</div>
					<div class="item">
						<img src={cross.src} alt="item 1" />
						<p>Trage laadtijden door overbodige code</p>
					</div>
					<div class="item">
						<img src={cross.src} alt="item 1" />
						<p>Standaard beveiliging met bekende kwetsbaarheden</p>
					</div>
					<div class="item">
						<img src={cross.src} alt="item 1" />
						<p>Beperkte schaalbaarheid door platformrestricties</p>
					</div>
					<div class="item">
						<img src={cross.src} alt="item 1" />
						<p>Basis SEO-optimalisatie</p>
					</div>
				</article>
			</div>
			<a href="#" class="button">Bekijk ons werk</a>
		</div>
	</section>
	<section class="section testimonials-section">
		<div class="container flow">
			<Heading>
				<h2 class="section-title">Klant ervaringen</h2>
				<p class="subtitle">Ontdek wat onze klanten over ons zeggen.</p>
			</Heading>
			<div class="equal-columns testimonial-cards">
				<article class="card">
					<div class="heading">
						<img src="src/assets/testimonial-avatar-1.jpg" alt="testimonial avatar" />
						<div class="heading__text">
							<h2 class="card__title">Anniek Lambrecht</h2>
							<p>Zaakvoerder</p>
						</div>
					</div>
					<div class="body">
						<p>Fijne samenwerking met Anthony van Webmoov resulteerde in een mooie hippe website met bijhorende webshop. Service nadien blijft ook uitstekend, snel antwoord en interactie voor aanpassingen.</p>
					</div>
					<footer>
						<img src={skincenterlogo.src} alt="skincenter logo" />
						<p>Skincenter Anniek Lambrecht</p>
					</footer>
				</article>
				<article class="card">
					<div class="heading">
						<img src="src/assets/testimonial-avatar-2.jpg" alt="testimonial avatar" />
						<div class="heading__text">
							<h2 class="card__title">Frederiek Troubleyn</h2>
							<p>Zaakvoerder</p>
						</div>
					</div>
					<div class="body">
						<p>Voor de ontwikkeling van onze nieuwe teambuilding-website werkten we samen met Webmoov en we kunnen met volle overtuiging zeggen dat dit een topkeuze was!</p>
					</div>
					<footer>
						<img src={actionmakerlogo.src} alt="skincenter logo" />
						<p>Action Maker</p>
					</footer>
				</article>
		</div>
	</section>
	<section class="section faq-section background-light-gray">
		<div class="container flow">
			<Heading>
				<h2 class="section-title">Alles wat u moet weten over onze diensten.</h2>
			</Heading>
			<div class="faq-items">
				<div class="faq-item">
					<div class="question">
						<h3>Wat is inbegrepen bij het One Pager Website pakket?</h3>
						<img src={chevrondown.src} alt="chevron down" />
					</div>
					<hr />
					<p>Een onepager website is een eenvoudige en snel te maken website die bestaat uit één pagina. Deze pagina bevat alle belangrijke informatie over uw bedrijf en is bedoeld om potentiële klanten te bereiken.</p>
				</div>
				<div class="faq-item">
					<div class="question">
						<h3>Hoe lang duurt het om een Premium Website te bouwen?</h3>
						<img src={chevrondown.src} alt="chevron down" />
					</div>
					<hr />
					<p>Een onepager website is een eenvoudige en snel te maken website die bestaat uit één pagina. Deze pagina bevat alle belangrijke informatie over uw bedrijf en is bedoeld om potentiële klanten te bereiken.</p>
				</div>
				<div class="faq-item">
					<div class="question">
						<h3>Kunnen jullie helpen bij het migreren van mijn bestaande webshop?</h3>
						<img src={chevrondown.src} alt="chevron down" />
					</div>
					<hr />
					<p>Een onepager website is een eenvoudige en snel te maken website die bestaat uit één pagina. Deze pagina bevat alle belangrijke informatie over uw bedrijf en is bedoeld om potentiële klanten te bereiken.</p>
				</div>
				<div class="faq-item">
					<div class="question">
						<h3>Bieden jullie doorlopende ondersteuning en onderhoud?</h3>
						<img src={chevrondown.src} alt="chevron down" />
					</div>
					<hr />
					<p>Een onepager website is een eenvoudige en snel te maken website die bestaat uit één pagina. Deze pagina bevat alle belangrijke informatie over uw bedrijf en is bedoeld om potentiële klanten te bereiken.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section cta-section background-dark">
		<div class="container flow" data-width="medium">
			<Heading>
				<h1 class="section-title text-high-contrast">Klaar om uw digitale aanwezigheid te transformeren?</h1>
				<p class="subtitle text-low-contrast">Laten we bespreken hoe we uw bedrijf kunnen laten groeien met een op maat gemaakte website.</p>
			</Heading>
			<a href="#" class="button">Start het gesprek <span class="visually-hidden">over je project via ons contactformulier</span></a>
		</div>
	</section>
	
</Layout>
